table {
  border: 1px solid black;
  width: 100%;
  border-spacing: 1px;
  margin-top: 15px;
}
th,td {
  border: 1px solid #333; /* Граница вокруг ячеек */
  padding: 5px; /* Поля в ячейках */
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.custom-link {
  width: 300px;
}
h2 {
  color: white;
}
.list-buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
button {
  width: 83px;
}
.modalAdd {
  position: absolute;
  z-index: 100;
  background-color: #F1F1F4;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}
.modalAdd h3 {
  text-align: center;
}
.buttonsModal {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
